@model MemberViewModel
@inject IRepository<Member> memberRepository

@{
    ViewBag.Title = "Garage Details";
    var members = await memberRepository.GetAll();
    var next = members.SkipWhile(m => m.Id != Model.Id).Skip(1).FirstOrDefault();
    var members2 = members.ToList();
    members2.Reverse();
    var previous = members2.SkipWhile(m => m.Id != Model.Id).Skip(1).FirstOrDefault();
    var avatar = Model.Avatar;
}

<div class="row d-flex justify-content-center">
    <div class="col-sm-6 mb-5 mt-3">
        <h3>@ViewBag.Title</h3>
        <div class="card bg-light">
            <div class="card-body">
                <img src="@avatar" alt="member profile image" class="border border-dark rounded mb-2">
                <div class="card-title fs-5 text-primary text-primary">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
                <div class="card-text pb-3">
                    @Html.DisplayFor(model => model.Name)
                </div>
                <div class="card-title fs-5 text-primary">
                    @Html.DisplayNameFor(model => model.Username)
                </div>
                <div class="card-text pb-3">
                    @Html.DisplayFor(model => model.Username)
                </div>
                <div class="card-title fs-5 text-primary">
                    @Html.DisplayNameFor(model => model.Email)
                </div>
                <div class="card-text pb-3">
                    @Html.DisplayFor(model => model.Email)
                </div>
                <div class="card-title fs-5 text-primary">
                    @Html.DisplayNameFor(model => model.Age)
                </div>
                <div class="card-text pb-3">
                    @Html.DisplayFor(model => model.Age)
                </div>
                <div class="card-title fs-5 text-primary">
                    @Html.DisplayNameFor(model => model.SSN)
                </div>
                <div class="card-text pb-3">
                    @Html.DisplayFor(model => model.SSN)
                </div>
                <div class="card-title fs-5 text-primary">
                    @Html.DisplayNameFor(model => model.VehicleCount)
                </div>
                <div class="card-text pb-3">
                    @Html.DisplayFor(model => model.VehicleCount)
                </div>
            </div>
        </div>
        <div class="card bg-light text-center mt-2 details-nav">
            <div class="card-body d-flex justify-content-between">
                <a asp-controller="Members" asp-action="Previous" asp-route-id="@Model.Id">
                    <button class="btn btn-secondary">Previous</button>
                </a>
                <a asp-controller="Members" asp-action="Next" asp-route-id="@Model.Id">
                    <button class="btn btn-secondary">Next</button>
                </a>
            </div>
             <div class="card-body d-flex justify-content-between">
                 <a asp-controller="Members" asp-action="Index">
                    <button class="btn btn-primary">Back</button>
                </a>
            </div>
        </div>
    </div>
</div>