@model MemberIndexViewModel

@{
    ViewBag.Title = "Members";
}

@* recommend adding wwwroot for consolidated style overrides *@
@section Styles {
            <style>
                td {
                    vertical-align: middle;
                }
            </style>
}

<h3>@ViewBag.Title</h3>
<a asp-action="Create" class="btn btn-primary my-2">Register New Member</a>
<table class="table table-hover table-responsive-xl">
    <thead class="thead-light">
        <tr>
            <th scope="col"> @Html.DisplayNameFor(model => model.MemberViewModels.First().Avatar) </th>
            <th scope="col"> @Html.DisplayNameFor(model => model.MemberViewModels.First().Username) </th>
            <th scope="col"> @Html.DisplayNameFor(model => model.MemberViewModels.First().Name) </th>
            <th scope="col"> @Html.DisplayNameFor(model => model.MemberViewModels.First().Email) </th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        <tbody>
            @foreach (var member in Model.MemberViewModels)
            {
                    <tr>
                        <td><img height="50"  src="@member.Avatar" alt="Member Profile Picture"></td>
                        <td>@member.Username</td>
                        <td>@member.Name</td>
                        <td>@member.Email</td>
                         <td>
                            <a asp-controller="Members" asp-action="Details" asp-route-id="@member.Id">
                                <button class="btn btn-secondary">Details</button>
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Members" asp-action="Edit" asp-route-id="@member.Id">
                                <button class="btn btn-secondary">Edit</button>
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Members" asp-action="Delete" asp-route-id="@member.Id">
                                <button class="btn btn-secondary">Checkout</button>
                            </a>
                        </td>
                    </tr>
            }
        </tbody>
    </thead>
</table>