@model MemberIndexViewModel

@{
    ViewBag.Title = "Members";
}

@* recommend adding wwwroot for consolidated style overrides *@
@section Styles {
            <style>
                td {
                    vertical-align: middle;
                }
            </style>
}

@if (ViewBag.Message is not null && ViewBag.Message.IsActive)
{
    switch (ViewBag.Message.Type)
    {
        case MessageType.Success:
            <div class="alert alert-success my-2">@ViewBag.Message.Text</div>
            break;
        case MessageType.Danger:
            <div class="alert alert-danger my-2">@ViewBag.Message.Text</div>
            break;
    }
}

<h3>@ViewBag.Title</h3>
<div class="d-flex flew-row my-3 justify-content-between">
<a asp-action="Create" class="btn btn-primary">Register New Member</a>
    <form asp-action="Index" method="get">
        <div class="d-flex flex-row">
            <input asp-for="@Model.SearchTerm" type="text" class="form-control" placeholder="Search..." />
            <button type="submit" class="btn btn-primary ms-2">Submit</button>
            @if(ViewBag.Filtered is not null) {
                <a asp-action="Reset" class="btn btn-secondary ms-2">Reset</a>
            }
        </div>
    </form>
</div>
<table class="table table-hover table-responsive-xl">
    <thead class="thead-light">
        <tr>
            <th scope="col"> @Html.DisplayNameFor(model => model.MemberViewModels.First().Avatar) </th>
            <th scope="col"> @Html.DisplayNameFor(model => model.MemberViewModels.First().Username) </th>
            <th scope="col"> @Html.DisplayNameFor(model => model.MemberViewModels.First().Name) </th>
            <th scope="col"> @Html.DisplayNameFor(model => model.MemberViewModels.First().Email) </th>
            <th scope="col"> @Html.DisplayNameFor(model => model.MemberViewModels.First().VehicleCount) </th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        <tbody>
            @foreach (var member in Model.MemberViewModels)
            {
                    <tr>
                        <td><img height="50"  src="@member.Avatar" alt="Member Profile Picture"></td>
                        <td>@member.Username</td>
                        <td>@member.Name</td>
                        <td>@member.Email</td>
                        <td>@member.Vehicles.Count()</td>
                         <td>
                            <a asp-controller="Members" asp-action="Details" asp-route-id="@member.Id">
                                <button class="btn btn-secondary">Details</button>
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Members" asp-action="Edit" asp-route-id="@member.Id">
                                <button class="btn btn-secondary">Edit</button>
                            </a>
                        </td>
                        <td>
                            @using (Html.BeginForm("Delete", "Members", FormMethod.Post))
                            {
                                @Html.Hidden("id", member.Id)
                                <input type="submit"
                                       value="Deregister"
                                       onclick="return confirm('Are you sure you want to deregister this user?')"
                                       class="btn btn-danger" />
                            }
                        </td>
                    </tr>
            }
        </tbody>
    </thead>
</table>