@model VehicleTypeViewModel

@{
    ViewBag.Title = "Vehicle Type Details";
    ViewBag.Previous = Model.Id == 1 ? Model.Id : Model.Id -1 ;
    ViewBag.Next = Model.Id == Model.VehicleTypeCount ? Model.Id : Model.Id + 1;
}

<div class="row d-flex justify-content-center">
    <div class="col-sm-6 mb-5 mt-3">
        <h3>@ViewBag.Title</h3>
        <div class="card bg-light">
            <div class="card-body">
                <div class="card-title fs-5 text-primary text-primary">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
                <div class="card-text pb-3">
                    @Html.DisplayFor(model => model.Name)
                </div>
                <div class="card-title fs-5 text-primary text-primary">
                    @Html.DisplayNameFor(model => model.NumberOfWheels)
                </div>
                <div class="card-text pb-3">
                    @Html.DisplayFor(model => model.NumberOfWheels)
                </div>
                <div class="card-title fs-5 text-primary text-primary">
                    @Html.DisplayNameFor(model => model.AssignedVehicleCount)
                </div>
                <div class="card-text pb-3">
                    @Html.DisplayFor(model => model.AssignedVehicleCount)
                </div>
            </div>
        </div>
        <div class="card bg-light text-center mt-2 details-nav">
            <div class="card-body d-flex justify-content-between">
                <a asp-controller="VehicleTypes" asp-action="Details" asp-route-id=@ViewBag.Previous>
                    <button class="btn btn-secondary">Previous</button>
                </a>
                <a asp-controller="VehicleTypes" asp-action="Details" asp-route-id=@ViewBag.Next>
                    <button class="btn btn-secondary">Next</button>
                </a>
            </div>
            <div class="card-body d-flex justify-content-between">
                 <a asp-controller="VehicleTypes" asp-action="Index" asp-route-id=@ViewBag.Next>
                    <button class="btn btn-primary">Back</button>
                </a>
            </div>
        </div>
    </div>
</div>