@model VehicleCheckoutViewModel

<div class="row">
    <div class="col-sm-8">
        <ul class="list-group">
            <li class="list-group-item">@Model.Vehicle.Member.Name</li>
            <li class="list-group-item">@Model.Vehicle.RegNumber</li>
            <li class="list-group-item">@Model.Vehicle.Type</li>
            <li class="list-group-item">@Model.ParkingPeriod </li>
            <li class="list-group-item">@Model.TotalParkingPrice SEK</li>
            <li class="list-group-item">@Model.GarageHourlyRate SEK</li>
            <li class="list-group-item">@Model.Vehicle.Garage.Name</li>
        </ul>
    </div>
</div>