@model VehicleViewModel
@inject IRepository<Vehicle> vehicleRepository

@{
    ViewBag.Title = "Vehicle Details";
    var vehicles = await vehicleRepository.GetAll();
    var next = vehicles.SkipWhile(v => v.Id != Model.Id).Skip(1).FirstOrDefault();
    var vehicles2 = vehicles.ToList();
    vehicles2.Reverse();
    var previous = vehicles2.SkipWhile(v => v.Id != Model.Id).Skip(1).FirstOrDefault();
}

<div class="row d-flex justify-content-center">
    <div class="col-sm-6 mb-5 mt-3">
        <h3>@ViewBag.Title</h3>
        <div class="card bg-light">
            <div class="card-body">
                <div class="card-title fs-5 text-primary text-primary">
                    @Html.DisplayNameFor(model => model.RegNumber)
                </div>
                <div class="card-text pb-3">
                    @Html.DisplayFor(model => model.RegNumber)
                </div>
                <div class="card-title fs-5 text-primary text-primary">
                    @Html.DisplayNameFor(model => model.RegisteredAt)
                </div>
                <div class="card-text pb-3">
                    @Html.DisplayFor(model => model.RegisteredAt)
                </div>
                <div class="card-title fs-5 text-primary text-primary">
                    @Html.DisplayNameFor(model => model.VehicleType)
                </div>
                <div class="card-text pb-3">
                    @Html.DisplayFor(model => model.VehicleType.Name)
                </div>
                <div class="card-title fs-5 text-primary text-primary">
                    @Html.DisplayNameFor(model => model.Brand)
                </div>
                <div class="card-text pb-3">
                    @Html.DisplayFor(model => model.Brand)
                </div>
                <div class="card-title fs-5 text-primary text-primary">
                    @Html.DisplayNameFor(model => model.Model)
                </div>
                <div class="card-text pb-3">
                    @Html.DisplayFor(model => model.Model)
                </div>
                <div class="card-title fs-5 text-primary text-primary">
                    @Html.DisplayNameFor(model => model.Color)
                </div>
                <div class="card-text pb-3">
                    @Html.DisplayFor(model => model.Color)
                </div>
                <div class="card-title fs-5 text-primary text-primary">
                    @Html.DisplayNameFor(model => model.Garage)
                </div>
                <div class="card-text pb-3">
                    <a class="text-decoration-none" asp-controller="Garages" asp-action="Details" asp-route-id="@Model.Garage.Id">
                    @Html.DisplayFor(model => model.Garage.Name)
                    </a>
                </div>
                <div class="card-title fs-5 text-primary text-primary">
                    @Html.DisplayNameFor(model => model.Member)
                </div>
                <div class="card-text pb-3">
                    <a class="text-decoration-none" asp-controller="Members" asp-action="Details" asp-route-id="@Model.Member.Id">
                    @Html.DisplayFor(model => model.Member.Name)
                    </a>
                </div>
            </div>
        </div>
        <div class="card bg-light text-center mt-2 details-nav">
            <div class="card-body d-flex justify-content-between">
                @if(previous is not null ){
                <a asp-controller="Vehicles" asp-action="Details" asp-route-id="@previous.Id">
                    <button class="btn btn-secondary">Previous</button>
                </a>
                }
                 @if(next is not null ){
                <a asp-controller="Vehicles" asp-action="Details" asp-route-id="@next.Id">
                    <button class="btn btn-secondary">Next</button>
                </a>
                }
            </div>
             <div class="card-body d-flex justify-content-between">
                 <a asp-controller="Vehicles" asp-action="Index">
                    <button class="btn btn-primary">Back</button>
                </a>
            </div>
        </div>
    </div>
</div>