@inject ISelectListItemService<Member> selectListItemService
@model VehicleEditViewModel

@{
    ViewBag.Title = "Edit Vehicle";

    var colors = Enum.GetValues<Color>().Select(e => new SelectListItem
    {
        Text = e.ToString(),
        Value = e.ToString()
    });

    var memberOptions = await selectListItemService.GetSelectListItems();
}

<div class="row d-flex justify-content-center">
    <div class="col-sm-8">
        <h3>@ViewBag.Title</h3>
        <div class="card bg-light">
            <div class="card-body">
                <form asp-action="Edit" method="post">
                    <input type="hidden" asp-for="@Model.Id" />
                    <input type="hidden" asp-for="@Model.RegNumber" />
                    <input type="hidden" asp-for="@Model.GarageId" />
                    <input type="hidden" asp-for="@Model.VehicleTypeId" />
                    <div class="mb-3">
                        <label asp-for="@Model.MemberId" class="form-label"></label>
                        <select asp-for="@Model.MemberId" type="text" class="form-select" asp-items="memberOptions"></select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Brand" class="form-label"></label>
                        <input asp-for="@Model.Brand" type="text" class="form-control">
                        <span asp-validation-for="@Model.Brand" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Model" class="form-label"></label>
                        <input asp-for="@Model.Model" type="text" class="form-control">
                        <span asp-validation-for="@Model.Model" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Color" class="form-label"></label>
                        <select asp-for="@Model.Color" asp-items="colors" class="form-control"></select>
                    </div>
                    <div class="d-flex justify-content-between ">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a asp-action="Index" class="btn btn-primary" asp-controller="Vehicles">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>