@model VehicleIndexViewModel

@{
    ViewBag.Title = "Vehicles";
}

@* recommend adding wwwroot for consolidated style overrides *@
@section Styles {
    <style>
        td {
            vertical-align: middle;
        }
    </style>
}

<h3>@ViewBag.Title</h3>
<a asp-action="Create" class="btn btn-primary">Park</a>
<table class="table table-hover table-responsive-xl">
    <thead class="thead-light">
        <th>@Html.DisplayNameFor(m => m.Vehicles.First().Id)</th>
        <th>@Html.DisplayNameFor(m => m.Vehicles.First().RegNumber)</th>
        <th>@Html.DisplayNameFor(m => m.Vehicles.First().Brand)</th>
        <th>@Html.DisplayNameFor(m => m.Vehicles.First().Model)</th>
        <th>@Html.DisplayNameFor(m => m.Vehicles.First().RegisteredAt)</th>
        <th>@Html.DisplayNameFor(m => m.Vehicles.First().Color)</th>
        <th>@Html.DisplayNameFor(m => m.Vehicles.First().Type)</th>
        <th>@Html.DisplayNameFor(m => m.Vehicles.First().Garage)</th>
    </thead>
    <tbody>
        @foreach (var vehicle in Model.Vehicles)
        {
            <tr>
                <td>@vehicle.Id</td>
                <td>@vehicle.RegNumber</td>
                <td>@vehicle.Brand</td>
                <td>@vehicle.Model</td>
                <td>@vehicle.RegisteredAt</td>
                <td>@vehicle.Color</td>
                <td>@vehicle.Type.Name</td>
                <td>@vehicle.Garage.Name</td>
            </tr>
        }
    </tbody>
</table>