@model GarageIndexViewModel

@{
    ViewBag.Title = "Garages";
}

@if (ViewBag.Message is not null && ViewBag.Message.IsActive)
{
    switch (ViewBag.Message.Type)
    {
        case MessageType.Success:
        <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>@ViewBag.Message.Text</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
            break;
        case MessageType.Danger:
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>@ViewBag.Message.Text</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
            break;
    }
}

<h3>@ViewBag.Title</h3>
<table class="table">
    <thead class="thead-light">
        <a asp-action="Create" class="btn btn-primary">Register New Garage</a>
        <table class="table table-hover table-responsive-xl">
            <thead class="thead-light">
                <tr>
                    <th scope="col"> @Html.DisplayNameFor(model => model.Garages.First().Id) </th>
                    <th scope="col"> @Html.DisplayNameFor(model => model.Garages.First().Name) </th>
                    <th scope="col"> @Html.DisplayNameFor(model => model.Garages.First().Capacity) </th>
                    <th scope="col"> @Html.DisplayNameFor(model => model.Garages.First().HourlyRate) </th>
                    <th scope="col"> @Html.DisplayNameFor(model => model.Garages.First().VehicleCount) </th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            <tbody>
        @foreach (var garage in Model.Garages)
        {
            <tr>
                <td scope="row">@garage.Id</td>
                <td>@garage.Name</td>
                <td>@garage.Capacity</td>
                <td>@garage.HourlyRate SEK</td>
                <td>@garage.VehicleCount</td>
                <td>
                    <a asp-controller="Garages" asp-action="Details" asp-route-id="@garage.Id">
                        <button class="btn btn-secondary">Details</button>
                    </a>
                </td>
                <td>
                    <a asp-controller="Garages" asp-action="Edit" asp-route-id="@garage.Id">
                        <button class="btn btn-secondary">Edit</button>
                    </a>
                </td>
                <td>
                        <td>
                                    @using (Html.BeginForm("Delete", "Garages", FormMethod.Post))
                                    {
                                        @Html.Hidden("id", garage.Id)
                                <input type="submit"
                                       value="Delete"
                                       onclick="return confirm('Are you sure you want to delete this garage?')"
                                       class="btn btn-danger" />
                                    }
                        </td>
                </td>

              </tr>

        }
    </tbody>
</table>