@model CheckoutViewModel

@{
    ViewBag.Title = $"Checkout {Model.RegNumber}";

    int totalParkedDays = (int)Model.ParkingPeriod.TotalDays;
    int totalParkedHours = (int)Model.ParkingPeriod.TotalHours;
    int totalParkedMinutes = (int)Model.ParkingPeriod.TotalMinutes;
}

<h3>@ViewBag.Title</h3>
<div class="row mb-3">
    <div class="col-sm-8">
        <div class="card bg-light">
            <h5 class="card-header">Parking Details</h5>
            <div class="card-body">
                <div class="card-title fs-5 text-primary">
                    @Html.DisplayNameFor(model => model.Id)
                </div>
                <div class="card-text pb-3">@Model.Id</div>
                <div class="card-title fs-5 text-primary">
                    @Html.DisplayNameFor(model => model.RegNumber)
                </div>
                <div class="card-text pb-3">@Model.RegNumber</div>
                <div class="card-title fs-5 text-primary">
                    @Html.DisplayNameFor(model => model.ParkedAt)
                </div>
                <div class="card-text pb-3">@Model.ParkedAt</div>
                <div class="card-title fs-5 text-primary">
                    @Html.DisplayNameFor(model => model.CheckoutAt)
                </div>
                <div class="card-text pb-3">@Model.CheckoutAt</div>
                <div class="card-title fs-5 text-primary">
                    @Html.DisplayNameFor(model => model.ParkingPeriod)
                </div>
                <div class="card-text pb-3">@totalParkedDays Days, @totalParkedHours Hours, @totalParkedMinutes Minutes</div>
                <div class="card-title fs-5 text-primary">
                    @Html.DisplayNameFor(model => model.TotalParkingCost)
                </div>
                <div class="card-text pb-3">@Model.TotalParkingCost.ToString("C")</div>
                <div class="card-title fs-5 text-primary">
                    @Html.DisplayNameFor(model => model.Garage)
                </div>
                <div class="card-text pb-3">@Model.Garage</div>
                <div class="card-title fs-5 text-primary">
                    @Html.DisplayNameFor(model => model.HourlyRate)
                </div>
                <div class="card-text pb-3">@Model.HourlyRate.ToString("C")</div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card bg-light">
            <h5 class="card-header">Member</h5>
            <div class="card-body">
                <img src=@Model.Member.Avatar alt="member profile image" class="border border-dark rounded mb-2">
                <div class="card-title fs-5 text-primary">
                    @Html.DisplayNameFor(model => model.Member.Name)
                </div>
                <div class="card-text pb-3">@Model.Member.Name</div>
                <div class="card-title fs-5 text-primary">
                    @Html.DisplayNameFor(model => model.Member.Username)
                </div>
                <div class="card-text pb-3">@Model.Member.Username</div>
                <div class="card-title fs-5 text-primary">
                    @Html.DisplayNameFor(model => model.Member.Email)
                </div>
                <div class="card-text pb-3">@Model.Member.Email</div>
                <div class="card-title fs-5 text-primary">
                    @Html.DisplayNameFor(model => model.Member.SSN)
                </div>
                <div class="card-text pb-3">@Model.Member.SSN</div>
            </div>
        </div>
    </div>
</div>
<a asp-controller="Vehicles" asp-action="Index" class="btn btn-primary">Back</a>